<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo sequi, iusto recusandae pariatur adipisci voluptate! Facere vitae impedit sed officia harum pariatur dignissimos unde laborum soluta dolores, reprehenderit dolorum dolore?
      Eligendi quia odio mollitia accusamus, nisi suscipit earum, exercitationem incidunt autem cupiditate quo nesciunt! Mollitia quam exercitationem iusto iste magni incidunt laboriosam velit, consequuntur enim assumenda ea atque beatae illum?
      </p>
    </div>